.pay_filyters-item {
  padding-right: 5px;
  input {
    position: absolute;
    z-index: -1;
    opacity: 0;

    & + label {
      display: inline-flex;
      width: 100%;
      height: 40px;
      padding: 5px 10px;
      align-items: center;
      user-select: none;
      cursor: pointer;
      border-radius: 5%;
    }

    &:checked + label {
      color: #fff;
      background-color: rgb(227, 150, 106);
    }
  }
}
.pay {
  &_filters {
    display: flex;
    margin-bottom: 10px;
  }

  &_output {
    border: 1px solid rgb(212, 212, 212);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    height: 50px;
    input {
      padding: 10px;
      outline: none;
      border: none;
      border-radius: 5px;
      width: 400px;
      &[disabled] {
        background-color: transparent;
      }
    }
    select {
      border: none;
      border-left: 1px solid rgb(212, 212, 212);
      height: 100%;
      outline: none;
      background-color: transparent;
    }
  }
}
